.login_main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}
.login_box_center{
    /* border: 1px solid red; */
    width: 80%;
    max-width: 300px;
}
.register_via_heading{
    color: #088dec;
    margin-bottom: 2rem;
    text-align: center;
}
.google_signin_box{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.google_sign_or_login_button{
    /* border: 2px solid #088dec; */
    /* border: 2px solid #ec3608; */
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
}
.or_devider{
    text-align: center;
    margin: 0.5rem;
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.699);
    margin: 1rem 0 1rem 0;
}