.container_section{
    width: 100%;
    max-width: 1400px;
    margin: 1rem auto;
    height: max-content;
    /* background-color: red; */
    padding: 1rem 1rem 1rem 3rem;
}
.coordinators_box{
    display: flex;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
.main_heading{
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
.coordinator_item{
    margin-right: 2rem;
    /* border: 1px solid black; */
    /* z-index: -1; */
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar{
    margin: 0.5rem 0 1rem 0;   
}
.cordinator_name{
    font-size: 1rem;
    text-align: center;
}
.cordinator_tag{
    font-size: 0.8rem;
    color: rgba(128, 128, 128, 0.758);
}


/* ----------- Responsive styles -------------*/
@media only screen and (max-width: 540px) {
    .coordinators_box{
        flex-direction: column;
    }
    .main_heading{
        font-size: 1.5rem;
        text-align: center;
    }
    .container_section{
        padding-left: 1.5rem;
    }
    .coordinator_item{
        margin-right: 0;
    }
    .meet_btn{
        text-align: center;
    }
    .meet_btn_box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}